{% extends "layout.html" %}

{% block content %}
<h2>Películas Disponibles</h2>

<div class="movie-filter">
    <form method="get" action="{{ url_for('routes.home') }}">
        <label for="category">Género:</label>
        <select name="category_id" id="category" onchange="this.form.submit()">
            <option value="">Todos los géneros</option>
            {% for category in categories %}
            <option value="{{ category.category_id }}" {% if selected_category == category.category_id %}selected{% endif %}>
                {{ category.name }}
            </option>
            {% endfor %}
        </select>

        <label for="store">Ubicación:</label>
        <select name="store_id" id="store" onchange="this.form.submit()">
            <option value="">Todas las ubicaciones</option>
            {% for store in stores %}
            <option value="{{ store.store_id }}" {% if selected_store == store.store_id %}selected{% endif %}>
                {{ store.address.address }}
            </option>
            {% endfor %}
        </select>
    </form>
</div>

<div class="movie-grid">
    {% for movie in films %}
    <div class="movie-card">
        <div class="movie-info">
            <h3>{{ movie.title }}</h3>
            <p><span class="year">{{ movie.release_year }}</span></p>
            <p class="price">${{ movie.rental_rate }}</p>
            <a href="{{ url_for('routes.film_details', film_id=movie.film_id) }}" class="btn-secondary">Ver Detalles</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}